	<header>
		<a id='logo' href='http://moore.devdrew.com'>
			<img id='img_logo' alt='Moore & Co. Realty' src='img/moore_logo.png' width='250'/>
			<h2>Moore & Co. Realty</h2>
		</a>
		<nav id='nav-mobile'>
			<ul>
				<li><a href='/agents'>Our Agents</a></li>
			</ul>
		</nav>
	</header>
	<nav id='nav-desktop'>
		<ul>
			<li><a href='/agents'>Our Agents</a></li>
		</ul>	
	</nav>
