<!DOCTYPE html>
<html>
<meta name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0;'/>
<head>
<link href='css/main.css' media='screen' rel='stylesheet' type='text/css'/>
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Cabin|Droid+Sans|Oswald' type='text/css'/>
<script type='text/javascript' src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.min.js'></script>
</head>
<body>
<div id='page-wrap'>
	<div id='content'>
		<h1>Introduction to iOS Programming</h1>
		<img id='iphone' src='img/whiteIphone.png'/>
		<img id='ipad' src='img/blackIpadMini.png'/>
		<div id='info' class='overlay'>
			<span>Syllabus</span><br/>
			<a href='docs/syllabus.pdf'>Introduction to iOS Development - COMS 4983</a>
			<br/>
			<br/>
			<a href='https://developer.apple.com/library/iOS/documentation/userexperience/conceptual/mobilehig/'>iOS Human Interface Guidelines</a>
			<br/>
			<br/>
			<a href='https://github.com/AndrewGene/Attendance-node'>Attendance app API code</a>
			<br/>
			<br/>
			<a href='https://github.com/AndrewGene/Attendance-iOS'>Attendance app iOS code</a>
			<br/>
			<br/>
			<h2>Assignment from last class</h2>
			<p>Design your UI for the Gopher app.  We will vote on what UI ideas we like at our next class.</p>
			<br/>
			<br/>
			<h3>Gopher (<a href='http://gophers.devdrew.com'>Site Link)</a></h3><br/>
			<p>The app will allow someone to say "I'm going to Wendy's in 30 minutes" and people nearby (same dorm/apartment/etc) will
			be able to place an order and send money to the "gopher".</p>
			<br/>
			<h4>Github Repositories</h4>
			<h5>Both repositories are private.  I will need to invite each of you.</h5>
			<br/>
			<a href='https://github.com/AndrewGene/gopher-ios'>Gopher iOS code repository</a>
			<br/>
			<a href='https://github.com/AndrewGene/gopher-api'>Gopher API repository</a>
			<br/><br/>
			<h4>Features</h4>
			<ol>
				<li>Login
					<ul>
						<li>Facebook</li>
						<li>Twitter</li>
						<li>Google+</li>
						<li>Credentials</li>
					</ul>
				</li>
				<li>Payments/Tips</li>
				<li>Delivery location/destination
					<ul>
						<li>Delivery Status</li>
						<li>Foursquare</li>
					</ul>
				</li>
				<li>Order Items
					<ul>
						<li>Categories</li>
						<li>Comments</li>
					</ul>
				</li>
				<li>Request More Money/Edit Order/Request Clarification?</li>
				<li>Rate/report Gophers</li>
				<li>Gopher locations/maps/nearby gophers</li>
				<li>Request Gopher Run ("Gopher surfaced")</li>
				<li>Social media sharing
					<ul>
						<li>Removes $0.25 service charge (x/times per month allowed)</li>
					</ul>
				</li>
				<li>Refer friends - earn rewards</li>
			</ol>
		</div>
		<ul id='links'>
			<li><span class='key'>Email:</span><span class='value'><a href='mailto:andrewggoodwin@gmail.com'>andrewggoodwin@gmail.com</a></span></li>
			<li><span class='key'>Phone:</span><span class='value'><a href='tel:5012072336'>(501)207-2336</a></span></li>
			<li><span class='key'>Facebook:</span><span class='value'><a href='https://www.facebook.com/AndrewGene'>AndrewGene</a></span></li>
			<li><span class='key'>Github:</span><span class='value'><a href='https://www.github.com/AndrewGene'>AndrewGene</a></span></li>
		</ul>
	</div>
</div>
</body>
</html>
