<!DOCTYPE html>
<html>
<meta name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0;'/>
<head>
<link href='css/main.css' media='screen' rel='stylesheet' type='text/css'/>
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Cabin|Droid+Sans|Oswald' type='text/css'/>
<script type='text/javascript' src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.min.js'></script>
</head>
<body>
<div id='page-wrap'>
	<div id='content'>
		<h1>Introduction to iOS Programming</h1>
		<img id='iphone' src='img/whiteIphone.png'/>
		<img id='ipad' src='img/blackIpadMini.png'/>
		<div id='info' class='overlay'>
			<span>Syllabus</span><br/>
			<a href='docs/syllabus.pdf'>Introduction to iOS Development - COMS 4983</a>
			<br/>
			<br/>
			<a href='https://developer.apple.com/library/iOS/documentation/userexperience/conceptual/mobilehig/'>iOS Human Interface Guidelines</a>
			<br/>
			<br/>
			<a href='https://github.com/AndrewGene/Attendance-node'>Attendance app API code</a>
			<br/>
			<br/>
			<a href='https://github.com/AndrewGene/Attendance-iOS'>Attendance app iOS code</a>
		</div>
		<ul id='links'>
			<li><span class='key'>Email:</span><span class='value'><a href='mailto:andrewggoodwin@gmail.com'>andrewggoodwin@gmail.com</a></span></li>
			<li><span class='key'>Phone:</span><span class='value'><a href='tel:5012072336'>(501)207-2336</a></span></li>
			<li><span class='key'>Facebook:</span><span class='value'><a href='https://www.facebook.com/AndrewGene'>AndrewGene</a></span></li>
			<li><span class='key'>Github:</span><span class='value'><a href='https://www.github.com/AndrewGene'>AndrewGene</a></span></li>
		</ul>
	</div>
</div>
</body>
</html>
