<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<div id='page-wrap'>
	<% include header.ejs %>
	<div id='content'>
	<h1>Welcome to Moore & Co. Realty</h1>
	</div>
	<% include footer.ejs %>
</div>
</body>
</html>
